nav{
    background: cornflowerblue;
    position: fixed;
    width:100%;
    height:23px;
    top:0;
    padding: 5px;
    color: white;
    text-align: left;
}
nav>a{
    text-decoration: none;
}
nav>a:hover{
    text-decoration: underline blue;
}
body{
    padding-top: 30px;
    margin: 0;
    text-align: center;
}